<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr><table style = cellspacing="10" size = "35" width = 50% height = "100" cellpadding = "10" >
  <col width = 100>
  <col width = 160>

  <tr>
    </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> <br />
<br />
<br />
<br />

<table style = cellspacing="30" size = "25" width = 100% height = "50" cellpadding = "10" >
  <col width = 250>
  <col width = 260>

<tr>

  </thead>

  <tbody>
<tr>
<td>Total Income = <%= Income.sum(:amount) %> </td><br> 
<td>Total Expenditure = <%= Cost.sum(:amount) %></td><br>
<td>Final Balance = <%= (Income.sum(:amount)-Cost.sum(:amount)) %> </td>
</tr>
</tbody>
</table>
<br/>
<br/>

<% if((Income.sum(:amount)-Cost.sum(:amount))<2000) %>
  <%="You are spending too much !!!!"%>
  <% else %>
  <%="Your expenditure is within the limit."%>
<% end %>


<br>
<br>

<%= link_to 'New Category', new_category_path %>
