<!DOCTYPE html>
<html>
<head>
  <title>Mywallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<font face="verdana" color="#F3F781" >
<body style = "background-color:#2B2929; font-size: 18px;">

<style>
#content{
color: #ffffff!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important;
background-color:	#FF8000;
width:100%;
padding:10px;

}

</style>

<div id="content">
<h1><center>My Wallet</center></h1>
</div>

<%= yield %>

</body>
</html>
